body {

    background-color:maroon;
    color:WHITE;
    line-height:normal;
    margin: 0%;
    text-align: center;

}

h3 {
  
   font-size:30px;
}

p {
 position: absolute;   
 padding-left:400px;
 padding-top:0px;   
}

.image {

    width:400px;
    height:400px;
    padding-left:167px;
    padding-right:300px;
    padding: top -0.00px;
    padding-bottom:20px;
    padding-top:15px;
    
 }            
 img {
  opacity: 2.5;
}


