body {

     background-color:blue;

     text-align:center;

     }

  .date{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin-left: 100px;
  }  

.actualday {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  margin-left: 100px;
}

.time {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  margin-left: 100px;

}

.from {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  margin-left: 100px;
}

.location {
  background-color: white;color: #000;;
}
